.dates-of-project{
	display: inline;
	font-size: 14px;
}

.dates-of-project:after{
	content: ' | ';
}

.status{
	display: inline;
	font-weight: bold;
	float: right;
}

#accordion input[type="checkbox"] {
	transform: scale(1.3);
	margin: 5px;
	position: absolute;
	right: 10px;
	top: 5px;
}

#accordion .option {
	position: relative;
}

#accordion .select-checkbox {
	position: relative;
}
