button, .button, .login-button, .register-button {
	display: inline-block;
	background-color: #4181D1;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	color: #EEE;
	padding: 5px 10px;
	text-align: center;
	margin: 4px 2px;
}

button:hover,
 .button:hover, 
 .login-button:hover,
.register-button:hover {
	background: #003399;
	color: #FFF;
}

body {
	background-color: #E9E7E8;
	color: #000;
	background-image: url("../images/background.png");
	background-attachment: fixed;
	font-family: sans-serif;
	margin-bottom: 10%;
}

a.navbar-brand{
	padding: 5px;
}

.custom-theme .container{
	margin:0 10%;
	padding: 0px;
}

/*.custom-theme .dropdown-item{
	color:white!important;
}*/

.page-title{
	display: block;
	margin: 8%;
	font-size: 72px;
	text-align: center;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
}

.custom-theme {
	background-color: #4181D1;
	color: white;
	padding: 0.5rem 0px;
}

.register-button {
	background-color: white;
	color: #4181D1;
}

.register-button:hover {
	background-color: #003399;
	color: #FFF;
}

#nav nav .btn-link {
	color: white;
}

#nav nav .btn-link:hover {
	color: black;
}

#nav .greating {
	margin-right: 5px;
}

a.open-nav {
	display: block;
	cursor: pointer;
}

#message {
	background-color: green;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	margin-left: 15px;
}

div.empty {
	height: 100px;
}

.navbar-brand{
	font-weight: bold;
	font-size: 25px;
	color: #EEE !important;
}

.nav-link{
	font-weight: bold;
	font-size: 18px;
	color: #EEE !important;
}

.central-section{
	margin: 0 10%;
	background-color: #E9E7E8;
}

.sidebar {
	display: inline-block;
	float: left;
	width: 25%;
	margin-right: 1.5%;
}

.option{
	display: block;
	font-family: sans-serif;
	background-color: #4181D1;
	color: #EEE;
	font-size: 21px;
	font-weight: bold;
	padding: 5px;
}

.option > a{
	display: block;
}

.option:hover, #selected{
	background: #003399;
	color: #FFF;
}

/*.option + .option,
.card-body{
	margin-top:3px;
}*/

.card-body{
	display: block;
	padding: 0.3em;
}

.contents-field {
	display: inline-block;
	background: #FFF;
	width: 73.5%;
	padding: 5px 1em;
}

.content{
	display: block;
	overflow: hidden;
	margin: 0 0 20px;
}

.content h2{
	color: #4181D1;
	font-weight: bold;
}

.description{
	font-family: serif;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}
